PAX/XML/East2011/XMLschema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


  <xs:simpleType name="eventLocation">
  </xs:simpleType>


  <xs:simpleType name="eventKind">
  </xs:simpleType>


    <xs:complexType name="Event">
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="kind" type="eventKind" maxOccurs="unbounded" minOccurs="1"/>
        <xs:element name="location" type="eventLocation"/>
        <xs:element name="starttime" type="xs:dateTime"/>
        <xs:element name="endtime" type="xs:dateTime"/>
        <xs:element name="details" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

  <xs:element name="Schedule">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="Event" type="xs:string"
      maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>